<div class="row">
    <div>
        <h1>Proyectos</h1>
    </div>
    <div>
        <h3>Cocktail Finder</h3>
        <p>
            La aplicación fue desarrollada en Reac-native, cumple la función de conectarse a una API y permitir la
            busqueda de una gran variedad de tragos, permitiendo la busqueda.
        </p>
        <img src="../../../assets/cocktailfinder.png">
        <h3>Portfolio Argentina Programa 2022</h3>
        <p>
            El porfolio que se esta visualizando, es de desarrollo propio.
        </p>
    </div>
</div>