<div class="row">
    <div>
        <h1>Hard and Soft Skills</h1>
    </div>
    <div *ngIf="isLogged">
        <button class="btn btn-success" routerLink="/newskill" type="button">Agregar nueva</button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 alinear" *ngFor="let skill of skills">
        <circle-progress [percent]="skill.valor" [radius]="50" [title]="skill.nombre" [animation]="true">
        </circle-progress>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-primary" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </div>
    </div>
</div>