<div class="row">
    <p>has works!</p>
    <div *ngIf="isLogged">
        <button class="btn btn-primary" routerLink="/newskill" type="button">Agregar nueva</button>
    </div>
    <div *ngFor="let skill of skills">
        <circle-progress [percent]="skill.valor" [radius]="50" [title]="skill.nombre" [animation]="true">
        </circle-progress>
        <td *ngIf="isLogged">
            <button class="btn btn-primary" routerLink="/editskill/{{skill.id}}">
                <i class="bi bi-pencil-fill"></i>
                EDITAR
            </button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-primary" (click)="delete(skill.id)">
                <i class="bi bi-pencil-fill"></i>
                BORRAR
            </button>
        </td>
    </div>
</div>